# /etc/systemd/system/mosdns.service
[Unit]
Description=A DNS forwarder
ConditionFileIsExecutable=/usr/bin/mosdns

[Service]
User=root
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/bin/mosdns "start" "-c" "/etc/mosdns/config.yaml" "-d" "/etc/mosdns"
Restart=always
RestartSec=120
EnvironmentFile=-/etc/sysconfig/mosdns

[Install]
WantedBy=multi-user.target
