[Unit]
Description=Realm Proxy Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/root/realm/realm -c /root/realm/config.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
